---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInicon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Proyectos from '../components/Proyectos.astro';
import CodeIcon from '../components/icons/code.astro';
---

<Layout 
	title="Porfolio de Celia! Desarrrolladora y programadora web"
	description="Contrata a Celia, una desarrolladora web junior con experiencia en HTML, CSS y JavaScript. Con un enfoque en el desarrollo frontend, Celia está lista para llevar tus proyectos al siguiente nivel. ¡Contáctala hoy mismo!">
	<main class="px-4">
		<SectionContainer class="py-44 pb">
			<img 
    			class="rounded-full w-12 h-12 mb-4" 
        		src="https://images.vexels.com/media/users/3/136172/isolated/preview/148ec098a4529de7141003a8ec519d39-corazon-como-icono.png" 
    			alt="ceci photo"
    			/>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, Soy Celia
				<a 
				href="https://www.linkedin.com/in/celia-urcola-rosel-16a095171/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">
				<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-`[700px]">
			<span class="text-yellow-200/90 opacity-80">Soy desarrolladora Junior. </span>
			<span>Especializandose en FrontEnd</br></span>
			<span class="text-red-200/90">De Zaragoza pero perdida en Valencia.</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/celia-urcola-rosel-16a095171/">
					<LinkedInicon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Eyra0405">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
					<SocialPill href="mailto:urcolarosel2002@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					urcolarosel2002@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <Briefcase class="size-8" />
        Experiencia laboral
		</h2>
      	<Experience />
    </SectionContainer>
	<SectionContainer id="proyectos">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <CodeIcon class="size-8" />
        Proyectos
		</h2>
      	<Proyectos />
    </SectionContainer>
	</main>
</Layout>
